node_modules
dist
out
.DS_Store
.eslintcache
*.log*

# Environment
.env

# Document files
.txt
.pdf

# Ignore all JPG files except those in src/renderer/src/assets/qsl/
*.jpg
qsl

# Other directories
basic

# QSL Templates
src/renderer/src/data/qslTemplates.json