/* QSLCardSelector Component Styles */
.qsl-card-selector {
  background-color: var(--color-primary);
  padding: 20px;
  border-radius: 5px;
  border: 2px solid var(--color-primary-lighter);
  text-align: center;
}

.template-preview {
  margin-top: 20px;
  text-align: center;
}

.template-preview img {
  max-width: 100%;
  height: auto;
  border: 1px solid var(--color-primary-lighter);
  border-radius: 4px;
  padding: 5px;
}
